<article class="location">
  <p><b>Title:</b><br>{{model.title}}</p>
  <p><b>Address:</b><br>{{model.address}}</p>
  <p><b>LatLng:</b><br>{{model.latlng}}</p>
  <p><b>Comment:</b><br>{{model.comment}}</p>
</article>
